.env
node_modules
venv
env
.ssh/id_ed25519.pub
.ssh/id_ed25519
.ssh/known_hosts
.ssh/known_hosts.old
.ssh/vitormantecon_rsa
.ssh/vitormantecon_rsa.pub
.ssh/.ssh/id_ed25519
.ssh/.ssh/id_ed25519.pub
.ssh/.ssh/known_hosts.old
.ssh/.ssh/vitormantecon_rsa
.ssh/.ssh/vitormantecon_rsa.pub
